body, main, article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}

h1 {
  font-family: 'Lobster', cursive;
  color: darkred;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  font-family: 'Raleway', sans-serif;
}

article {
  border: 1px solid #DDD;
  padding: 20px;
  width: 200px;
  align-items: flex-start;
}

h2, h3, h4, p, label {
  font-family: 'Raleway', sans-serif;
}

h4 {
  color: #FFF;
  background-color: #CCC;
  padding: 5px;
}

.checkbox {
  display: inline-block;
}

label {
  display: inline-block;
}